.header {
    background: skyblue;
}

.navbar {
    padding-left: 10px;
    padding-right: 10px;
}

.nav-item {
    padding-left: 20px;
    padding-right: 20px;
}

.title {
    background-color: aliceblue;
    border: 1px solid gray;
    border-radius: 25px;
    padding-left: 15px;
    padding-right: 15px;
}