.header {
    background: skyblue;
    padding: 5px 20px;
}

.title {
    background-color: aliceblue;
    border: 1px solid gray;
    border-radius: 25px;
    padding-left: 15px;
    padding-right: 15px;
}