<div class="add-post-content">
    <div class="container">
        <div>
            <h3 class="new-post-title text-center">Create New Post</h3>
        </div>
        <form [formGroup]="addPostForm" (ngSubmit)="addPost()">
            <div class="form-group">
                <label for="title" class="post-title">Title</label>
                <input type="text" id="title" [formControlName]="'title'" class="form-control" placeholder="Title">
            </div>
            <div class="form-group">
                <label for="body" class="post-content">Body</label>
                <editor id="body" [formControlName]="'body'" [init]="{plugins: 'link'}"></editor>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary w-100">Post</button>
            </div>
        </form>
    </div>
</div>